[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
markovify = "*"
bs4 = "*"
jupyter = "*"
pandas = "*"

[requires]
python_version = "3.8"
